.recipes {
  display: flex;
  flex-direction: column;
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  color: #ffffff;
}

.recipes__title {
  padding-top: 100px;
  padding-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  padding-top: 24px;
  padding-left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  height: 273px;
  width: 1000px;
  margin: 80px auto 215px;
  box-sizing: border-box;
  padding: 0;
}

.recipes__videos-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 40px;
  border: 0;
}

.recipes__iframe {
  width: 450px;
  height: 200px;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
